body {
    background-color: #FFFAF0;
}

#line{
    background-color: #DAA520 ;
}
html {
    overflow-x: hidden;
}

#three-posts-container {
    padding-top: 35px;
    background-color: #DAA520;
    padding-bottom: 25px;

}

#empty-row {
    padding-top: 35px;
}

#main {
}

#main hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


#mainContainer {
}

#posts-container {
    background-color: #EEE8AA;
}

#post {
    padding-top: 10px;
}

#post img {
    width: 357px;
    height: 250px;
}

#post p{
    padding-left: 15px;
}
#post button{
    float: right;
}

#item-column {
    border-left: 1px inset rgb(34, 34, 34);
    background-color: #9ACD32;
    padding-top: 25px;
}

#item {
}

#item img {
    width: 255px;
    height: 165px;
    border: 3px solid #e09f2e;
}

#item p{
    padding-left: 15px;
}

#font-posts {
    width: 420px;
    /*border: 1px inset rgb(34, 34, 34);*/
}

#font-posts img {
    width: 357px;
    height: 230px;
}
/*//////////////////////////////////////*/
/** items part **/

#half-page-item {
    padding-top: 10px;
    /*border: 1px double black; !*it show you scopes of the block*!*/
}

#half-page-item img {
    width: 550px;
    height: 300px;
    padding-left: 30px;
}


#half-page-item p{
    padding-left: 15px;
}
#half-page-item button{
    float: right;
}

#item-title{
    min-height: 52px;
}

/** items part end **/
/*//////////////////////////////*/
/**find and lost part**/
#find-and-lost {
    padding-top: 10px;
}

#find-and-lost img {
    padding-top: 20px;
    width: 300px;
    height: 250px;
}

#find-and-lost p{
    padding-left: 40px;
}
#find-and-lost button{
    float: right;
}

#add-find-and-lost {
    padding-bottom: 40px;
    margin-right: -15px;

}
#add-find-and-lost button{
    float: right;
}
/**find and lost part end**/
/*//////////////////////////////*/
/* find and lost details*/
#find-and-lost-details {
    padding-top: 10px;
}

#find-and-lost-details img {
    padding-top: 20px;
    padding-left: 20px;
    width: 430px;
    height: 280px;
    float:left;
    margin: 7px 15px 7px 0;
}

#find-and-lost-details p{
    padding-left: 15px;
}
#find-and-lost-details button{
    float: right;
}
/* find and lost details end*/
/*//////////////////////////////*/
/**item details**/
#item-details {
    padding-top: 10px;
}

#item-details img {
    padding-top: 20px;
    width: 600px;
    height: 400px;
}

#item-details p{
    padding-left: 5px;
}
#right-button {
    float: right;
}

#left-button{
    float: left;
}
/**item details end**/
/*//////////////////////////////*/
/** Pay **/
#pay {
    padding-top: 10px;
}

#pay td{
    padding-left: 30px;
}

#pay p{
    padding-left: 5px;
}
#pay button {
    float: right;
}

#pay img {
    padding-top: 5px;
    width: 300px;
    height: 230px;
}
/** Pay end**/
/*//////////////////////////////*/
/** my profile **/
#profile {
    padding-top: 10px;
}

#profile td{
    padding-left: 30px;
    width: 50%;
}
#profile img {
    padding-top: 5px;
    width: 300px;
    height: 230px;
}
/** my profile end **/
/*//////////////////////////////////*/
/** my-purchases **/
#my-purchases {
    padding-top: 10px;
}

#my-purchases td{
    padding-left: 10px;
    max-width: 250px;
    min-width: 100px;
    /*width: 30%;*/
}
/** my-purchases end **/
/*/////////////////////////////////////*/
/** admin-items **/
#admin-items {
    padding-top: 10px;
}

#admin-items td{
    padding-left: 10px;
    /*max-width: 250px;*/
    /*min-width: 100px;*/
    /*width: 30%;*/
}
/** admin-items end **/
/*/////////////////////////////////////*/
/** Edit profile **/

#change-password {
    padding-top: 10px;
}

#change-password td{
    /*padding-left: 30px;*/
    width: 45%;
}

#change-password img {
    padding-top: 5px;
    width: 300px;
    height: 230px;
}

#change-password-file{}

#change-password-file input{
    background: #EEE8AA;
}

/** Edit profile end **/
/*/////////////////////////////////////*/
/** Sign in **/
#sign-in {
    padding-top: 10px;
}
#sign-in td{
    padding-left: 5px;
    /*width: 20%;*/
}

/** Sign in end **/
/*/////////////////////////////////////*/
/** Comment**/
#comment{
}

#comment img{
    width: 200px;
    height: 150px;
}
#comment hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/** Comment end **/
/*////////////////////*/
/*Home hover effect*/
.effect {
    position: relative;
}
.effect img {
    width: 100%;
    height: 100%;
}
.eff-2-2 {
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.eff-2-2 .caption {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -o-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.eff-2-2 .caption h4 {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-top: 10px;
    position: relative;
    top: -66px;
    opacity: 0;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.eff-2-2 .caption p {
    margin: 10px 0px;
    text-align: center;
    font-style: italic;
    padding: 0px 10px;
    opacity: 0;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.eff-2-2 .caption a.btn {
    width: 120px;
    text-align: center;
    display: block;
    background: #68432d;
    color: #fff;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 0px auto 0px auto;
    position: relative;
    top: 66px;
    opacity: 0;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.eff-2-2:hover h4,
.eff-2-2:hover a.btn {
    top: 0px;
    opacity: 1;
}
.eff-2-2:hover .caption,
.eff-2-2:hover p {
    opacity: 1;
}
/*Home hover effect end*/
/*////////////////////*/
